<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card'>
                <div class="card-header"><h1><i class='fa fa-check-circle-o'></i> {{#str}}completed, local_playground{{/str}}</h1></div>
                <div class="card-body">
                    {{#str}}playground_completed_text, local_playground{{/str}}<br>
                    <a href="{{{wwwroot}}}/course/view.php?id={{{course_id}}}" class="btn btn-success text-white" title="{{{course_name}}}">{{{course_name}}}</a>
                    <p>
                        <br>
                        <a href="{{{wwwroot}}}" class='btn btn-primary' title="{{#str}}myhome{{/str}}">{{#str}}myhome{{/str}}</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
