{{!
    This file is part of the Playground plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_playground/mycourses_button

    Renders a "Create Playground Course" button for the my/courses page.

    Example context (json):
    {
        "button_url": "https://moodle.test/local/playground/index.php",
        "button_text": "Create playground course"
    }
}}
<div id="local-playground-mycourses-button">
    <form action="{{button_url}}" method="get" class="d-inline">
        <button type="submit" class="btn btn-primary">
            {{button_text}}
        </button>
    </form>
</div>
{{#js}}
require(['local_playground/mycourses_button'], function(mod) {
    mod.init();
});
{{/js}}
